<!-- src/app/top50/top50.component.html -->
<div class="top50-container">
    <div *ngFor="let pelicula of peliculas" class="card">
        <!-- 
        <img [src]="pelicula.imagenUrl || 'default-image.jpg'" alt="{{ pelicula.nombre }}" class="card-img" />
        -->
      <div class="card-content">
        <h3>{{ pelicula.nombre }}</h3>
        <p>{{ pelicula.anioPublicado }}</p>
        <p>{{ pelicula.pais }}</p>
        <button *ngIf="pelicula.idpelicula" [routerLink]="['/informacion-pelicula', pelicula.idpelicula]">
            Más información
          </button>
      </div>
    </div>
</div>
