<div class="search-container">
  <input 
    type="text" 
    [(ngModel)]="searchQuery" 
    (ngModelChange)="filterPeliculas()"
    placeholder="Buscar película por nombre..." 
    class="search-input" 
  />
</div>

<div class="top50-container">
  <div *ngFor="let pelicula of filteredPeliculas" class="card">
    <div class="card-content">
      <h3>{{ pelicula.nombre }}</h3>
      <button *ngIf="pelicula.idpelicula" [routerLink]="['/informacion-pelicula', pelicula.idpelicula]">
        Más información
      </button>
    </div>
  </div>
</div>

<!-- Paginación -->
<div class="pagination-container">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
    Anterior
  </button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">
    Siguiente
  </button>
</div>
