/* Estilos generales para el formulario */
form {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #333;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"],
textarea {
  background-color: #f9f9f9;
}

button {
  background-color: #f0b537;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:disabled {
  background-color: #ddd;
}

button:hover:not(:disabled) {
  background-color: #b49130;
}

/* Estilos para las estrellas */
.star-rating {
  font-size: 24px;
  cursor: pointer;
}

.star-rating span {
  color: #ff9800; /* Color de las estrellas */
}

/* Estilo del contenedor del selector de películas */
.reseña-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Para dispositivos pequeños */
@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  button {
    width: 100%;
  }
}
