<div class="carousel-container">
  <div class="carousel">
    <img src="assets/foto1.jpg" alt="Película 1">
    <img src="assets/foto2.jpg" alt="Película 2">
    <img src="assets/foto3.jpg" alt="Película 3">
    <img src="assets/foto4.jpg" alt="Película 4">
    <img src="assets/foto5.jpg" alt="Película 5">
    <img src="assets/foto6.jpg" alt="Película 6">
    <img src="assets/foto7.jpg" alt="Película 7">
    <img src="assets/foto8.jpg" alt="Película 8">
    <img src="assets/foto9.jpg" alt="Película 9">
    <img src="assets/foto10.jpg" alt="Película 10">
    <img src="assets/foto1.jpg" alt="Película 1">
    <img src="assets/foto2.jpg" alt="Película 2">
    <img src="assets/foto3.jpg" alt="Película 3">
    <img src="assets/foto4.jpg" alt="Película 4">
    <img src="assets/foto5.jpg" alt="Película 5">
    <img src="assets/foto6.jpg" alt="Película 6">
    <img src="assets/foto7.jpg" alt="Película 7">
    <img src="assets/foto8.jpg" alt="Película 8">
    <img src="assets/foto9.jpg" alt="Película 9">
    <img src="assets/foto10.jpg" alt="Película 10">
    <img src="assets/foto1.jpg" alt="Película 1">
    <img src="assets/foto2.jpg" alt="Película 2">
    <img src="assets/foto3.jpg" alt="Película 3">
    <img src="assets/foto4.jpg" alt="Película 4">
    <img src="assets/foto5.jpg" alt="Película 5">
    <img src="assets/foto6.jpg" alt="Película 6">
    <img src="assets/foto7.jpg" alt="Película 7">
    <img src="assets/foto8.jpg" alt="Película 8">
    <img src="assets/foto9.jpg" alt="Película 9">
    <img src="assets/foto10.jpg" alt="Película 10">
    <img src="assets/foto1.jpg" alt="Película 1">
    <img src="assets/foto2.jpg" alt="Película 2">
    <img src="assets/foto3.jpg" alt="Película 3">
    <img src="assets/foto4.jpg" alt="Película 4">
    <img src="assets/foto5.jpg" alt="Película 5">
    <img src="assets/foto6.jpg" alt="Película 6">
    <img src="assets/foto7.jpg" alt="Película 7">
    <img src="assets/foto8.jpg" alt="Película 8">
    <img src="assets/foto9.jpg" alt="Película 9">
    <img src="assets/foto10.jpg" alt="Película 10">
    <img src="assets/foto1.jpg" alt="Película 1">
    <img src="assets/foto2.jpg" alt="Película 2">
    <img src="assets/foto3.jpg" alt="Película 3">
    <img src="assets/foto4.jpg" alt="Película 4">
    <img src="assets/foto5.jpg" alt="Película 5">
    <img src="assets/foto6.jpg" alt="Película 6">
    <img src="assets/foto7.jpg" alt="Película 7">
    <img src="assets/foto8.jpg" alt="Película 8">
    <img src="assets/foto9.jpg" alt="Película 9">
    <img src="assets/foto10.jpg" alt="Película 10">
    <img src="assets/foto1.jpg" alt="Película 1">
    <img src="assets/foto2.jpg" alt="Película 2">
    <img src="assets/foto3.jpg" alt="Película 3">
    <img src="assets/foto4.jpg" alt="Película 4">
    <img src="assets/foto5.jpg" alt="Película 5">
    <img src="assets/foto6.jpg" alt="Película 6">
    <img src="assets/foto7.jpg" alt="Película 7">
    <img src="assets/foto8.jpg" alt="Película 8">
    <img src="assets/foto9.jpg" alt="Película 9">
    <img src="assets/foto10.jpg" alt="Película 10">
    <img src="assets/foto1.jpg" alt="Película 1">
    <img src="assets/foto2.jpg" alt="Película 2">
    <img src="assets/foto3.jpg" alt="Película 3">
    <img src="assets/foto4.jpg" alt="Película 4">
    <img src="assets/foto5.jpg" alt="Película 5">
    <img src="assets/foto6.jpg" alt="Película 6">
    <img src="assets/foto7.jpg" alt="Película 7">
    <img src="assets/foto8.jpg" alt="Película 8">
    <img src="assets/foto9.jpg" alt="Película 9">
    <img src="assets/foto10.jpg" alt="Película 10">
    <img src="assets/foto1.jpg" alt="Película 1">
    <img src="assets/foto2.jpg" alt="Película 2">
    <img src="assets/foto3.jpg" alt="Película 3">
    <img src="assets/foto4.jpg" alt="Película 4">
    <img src="assets/foto5.jpg" alt="Película 5">
    <img src="assets/foto6.jpg" alt="Película 6">
    <img src="assets/foto7.jpg" alt="Película 7">
    <img src="assets/foto8.jpg" alt="Película 8">
    <img src="assets/foto9.jpg" alt="Película 9">
    <img src="assets/foto10.jpg" alt="Película 10">
  </div>
  <div class="overlay">
    <h1>Pruscine<span class="highlight"> +</span></h1>
    <p>La función que siempre devuelve buenas películas.</p>
  </div>
</div>